
.circleButton {
    position: absolute;
    width: 40px; /* adjust size as needed */
    height: 40px;
    border-radius: 50%; /* makes the div circular */
    top: 50%; /* start from the center of the contextMenu */
    left: 50%; /* start from the center of the contextMenu */
    display: flex;
    align-items: center; /* vertically center the content */
    justify-content: center; /* horizontally center the content */
    background-size: cover;
    background-position: center;
}

    /* Position the buttons in a circle around the vehicle button */
    .circleButton:nth-child(1) {
        transform: translate(-50%, -50%) translate(0, -75px);        
    }
    /* Top button */
    .circleButton:nth-child(2) {
        transform: translate(-50%, -50%) translate(53px, -53px);
    }
    /* Top-right button */
    .circleButton:nth-child(3) {
        transform: translate(-50%, -50%) translate(75px, 0);
    }
    /* Right button */
    .circleButton:nth-child(4) {
        transform: translate(-50%, -50%) translate(53px, 53px);
    }
    /* Bottom-right button */
    .circleButton:nth-child(5) {
        transform: translate(-50%, -50%) translate(0, 75px);
    }
    /* Bottom button */
    .circleButton:nth-child(6) {
        transform: translate(-50%, -50%) translate(-53px, 53px);
    }
    /* Bottom-left button */
    .circleButton:nth-child(7) {
        transform: translate(-50%, -50%) translate(-75px, 0);
    }
    /* Left button */
    .circleButton:nth-child(8) {
        transform: translate(-50%, -50%) translate(-53px, -53px);
    }
/* Top-left button */

.inputContainer {
    position: absolute; /* Absolute positioning within .contextMenu */
    top:calc( 50% + 10px); /* Distance from the bottom. Adjust as needed */
    left: 50%; /* Center horizontally */
    transform: translate(-50%,-50%); /* Adjust for true centering */
    display: flex; /* To align the children (input and buttons) in a row */
    align-items: center; /* Vertically align the children */
}

/* Sample styling for the input and buttons. Adjust as needed */
.positionInput {
    flex: 1; /* Take available space */
    padding: 5px;
    border: 1px solid #ccc;
    width:50px;
}

.triangleButton {
    width: 15px;
    height: 15px;
    background-color: #ddd; /* Placeholder color */
    margin: 0 5px; /* Spacing between the buttons and the input */
}
.active {
    background-color: green;
}

.inactive {
    background-color: gray;
}


    /* Left triangle styling */
    .triangleButton:first-child {
        clip-path: polygon(0 50%, 100% 0, 100% 100%); /* Creates a right-pointing triangle */
    }

    /* Right triangle styling */
    .triangleButton:last-child {
        clip-path: polygon(100% 50%, 0 0, 0 100%); /* Creates a left-pointing triangle */
        
    }
